// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;



// Added_colors
$white: #ffffff;
$black: #010101;
$pink: #E00E7A;
$darkBlue: #0E0058;
